.header a, a:hover {
	color: #00a621;
	text-decoration: none;
}
 

.h2, h2 {
    font-size: 40px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 30px;
    margin-bottom: 10px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "PFDinTextPro" ;
    line-height: 1.1;
    color: #00a621;
}

.navbar {
	margin-bottom: 0;
}

.header h1 {
	letter-spacing: 4px;
	font-size: 300%;
}

.header p {
	color: white !important;
	font-size: 90%;
	letter-spacing: 3px;
}
.header-title {
	margin-bottom: 4%;
}


.title-img {
	width: 100px;
	
}


.tag {
	font-size: 160%;
	color: white;
}



.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	color: #fff;
	background-color: #009090 ;
}

.nav-pills>li>a{
	color: #fff;
	font-size: 20px;
}

.nav-pills>li>a:hover{
	color: #fff;
	background-color:rgb(46, 175, 151);
}

.navbar-inverse {
	padding: 2% 2% 0% 2%;
	border-radius: 0;
	background: none;
	backdrop-filter: blur(3px);
}


.clear {
	clear: both;
	height: 63px;
}

.wrapper{
	backdrop-filter: blur(2px);
}


html, body {
	height: 100%;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    overflow-x: hidden;
	
	background: url(../img/background.jpg) no-repeat center;
	background-attachment: fixed;
	background-size: cover;
	background-color: rgb(30, 29, 28);
}

.index-table {
	font-size: 18px;
	color: #fff;
}

td:not(:first-child) {
	min-width: 70px;
}
td:nth-child(2n), th:nth-child(2n) {
	text-align: center;
}
td:nth-child(3n), th:nth-child(3n) {
	text-align: right;
}

.block-text {
	font-size: 28px;
	font-family: segoeui;
	color: #fff;
	text-align: left;
	text-indent: 40px;
}

.menu {
	font-size: 16px;
	text-align: left;
}
.dish {
	display: flex;
	flex-direction: column;
}
.name-dish {
	text-decoration: underline;
}
.description-dish {
	color: #bfbfbf;
}
.services {
	display: flex;
	flex-direction: column;
	background-color: rgb(80, 80, 80);
	border-radius: 20px;
}
td img {
	background-color: rgb(80, 80, 80);
	border-radius: 20px;
}
.services-title {
	color: #000;
	font-size: 24px;
	font-weight: 700;
}
.services-text {
	font-size: 20px;
	color: #000;
}

.films_block {
	text-align: center;
}

.films_block img {
	margin-bottom: 5%;
	border-radius: 5px;
	border: solid 1px #34e0b8;
	width: 113%;
	transition: 1s;

}
.films_block img:hover {
	transform: scale(1.1);
}


.film_label {
	padding: 2%;
	margin-bottom: 4%;
	color: #33FFCC;
	font-family: Tahoma;
	font-style: italic;
	font-weight: 400;
}

.margin-8 {
	margin-top: 8%;
}


.panel {
	border: none;
}

.panel-body {
	background-color: #f9f9f9;
}

.panel-info>.panel-heading {
	background-color: #31708f;
	color: white;
	border-color: transparent;
} 

.sidebar-header {
	font-size: 120%;
	letter-spacing: 2px;
}


.form-comtrol {
	border-radius: 0px;
}

.othRev {
	padding: 1%;
	min-height: 300px;
}
.otherReviews {
	color: #b1b1b1;
	background-color: rgb(80, 80, 80);
	border: 2px solid black;
	font-size: 20px;
	margin: 2% auto;
	max-width: 300px;
	border-radius: 18px;
	min-height: 80px;
}
.othDesc {
	color: #b1b1b1;
	background-color: rgb(80, 80, 80);
	max-width: 300px;
	border-radius: 18px;
	border: 2px solid black;
	margin: 1% 8px 6px 6px;
}

.username, .description {
	color: #b1b1b1;
	background-color: grey;
	border-radius: 18px;
	width: 400px;
	font-size: 24px;
	cursor:default;
	margin-top: 1%;
}

.send {
	width: 180px;
	height: 50px;
	border-radius: 24px;
	background-color: grey;
	color: #b1b1b1;
	font-size: 18px;
	font-style: italic;
	font-weight: 700;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #b1b1b1;
}
.about {
	font-size: 24px;
	font-family: PFDinTextPro;
}

.table tbody>tr>td.vert-align {
	vertical-align: middle;
}


footer {
	color: #666;
	background: #222;
	padding: 17px 0 18px 0;
	border-top: 1px solid #000;
}

footer a {
	color: #999;
}

footer a:hover {
	color: #efefef;
}
btn-warning {
    color: #fff;
    background-color: #2F4F4F;
    border-color: #eea236;
}
.btn-warning {
    color: #fff;
    background-color: #00A67C;
    border-color: #34D2AF;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    font-family: Bookman old style;
}
button {
	transition: 1s;
}
button:hover {
	box-shadow: 0 0 5px;
	transform: scale(1.1);
}

body {
  text-align: center;
}

.wrapper {
  justify-content: center;
}

.fa-google-plus {
  color: #dd4b39;
}
.fa-facebook-square {
  color: #4867AA;
}
.fa-twitter-square {
  color: #1DA1F2;
}
.fa:hover {
  text-shadow: 5px 14px 10px rgba(0, 0, 0, 0.4);
}

@media (max-width:  767px) {
	.wrapper {
		padding: 0% 8%;
	}
	.nav-pills>li {
		float: none;

	}


	.nav-pills{
		text-align: center;
	}

	.header h1{
		letter-spacing: 5px;
		font-size: 280%;
	}

	.header {
		text-align: center;
	}
	.card-img {
		max-width: 180px;
	}
	.title-img {
		display: none;
	}
	table>tbody>tr {
		display: flex;
		flex-direction: column;
	}
	.menu {
		font-size: 16px;
	}

	.username, .description { 
		width: 300px;
	}
}
@media all and (max-width:768px){
    table th {
		display: none;
	  }
	  table tr {
		display: block;
		margin-bottom: 1rem;
		border-bottom: 2px solid #e8e9eb;
	  }
	  table td {
		display: block;
		text-align: right;
	  }
	  table td:before {
		content: attr(aria-label);
		float: left;
		font-weight: bold;
	  }
	  td img {
	  text-align: center;
	}
	td:nth-child(2n), th:nth-child(2n) {
	 text-align: right; 
	}
}

@font-face {
	font-family: segoeui;
	src: url(../fonts/segoeui.ttf);
}
@font-face {
	font-family: PFDinTextPro;
	src: url(../fonts/PFDinTextPro.ttf);
}